page-register {
  .logo{
    width:33%;
  }
  error{
    font-size: 75%;
    color: deeppink;
    padding-left: 20px;
    padding-top: 2px;
    text-align: left;
  }
  p{
    margin:0;
  }
  .p1{
    color:#f53d3d;
  }
}
